<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EventStuffGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EventStuffGenerator.Properties.Settings>
            <setting name="Custom0" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom8" serializeAs="String">
                <value/>
            </setting>
            <setting name="Custom9" serializeAs="String">
                <value/>
            </setting>
        </EventStuffGenerator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
